<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/head') %>
</head>
<body>
  <%- include('../components/nav') %>

  <main class="responsive">
    <div class="space"></div>
    <h3>About</h3>
    <p>A quick paragraph about this project or team goes here.</p>
  </main>

  <%- include('../components/footer') %>
</body>
</html>
